body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Roboto;
    background-image: url(asset/resource/beautiful-shining-stars-night-sky.jpg);
    background-size:auto;
    color: white;
}
input{
    height: 50px;
    width: 700px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: white;
}
input:focus,input:active{
    background: none;

}
button{
    height: 60px;
    width: 85px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color:#ffffff90;
    margin-left: -86px;
    border: none;
    z-index: 1;
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;
}
button:active{
    transform:scale(0.8) ;
}
#convert-btn{
    background-color:#3a3a3ae9;
    padding: 0px;
    height: 60px;
    width: 75px;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    right:20px ;
}
#input-div{
    display: flex;
    margin-top: -1px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(148, 148, 148, 0.233);
    border-radius: 20px;
}
#current-data{
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin-top:100px ;

}
#data-div{
    margin-left: 300px;
    margin-top: 55px;
}
p{
    margin: 10px;
    padding-left: 0px;
    width: 300px;
    border-bottom: 3px solid gray ;
    border-radius: 5px;
}
p#icon{
    text-align: center;
    border-top: 3px solid gray ;
    border-bottom: none;
    margin-top: 15px;
    height: 100px;
    font-size: 40px;
}
#info-container{
    border-radius: 20px;
    width: 100vw;
    margin-top: 5%;
    display: flex;
    justify-content:flex-start;
    margin-left: 55%;
}
#temp{
    position: relative;
    right: 300px;
    top:100px;
    border:none;
    font-size: 80px;
}
#data{
    display: flex;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 30px;
    height: 200px;
    width: 250px;
    flex-direction: row;
}
#image-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;

}
#description{
    font-size: 25px;
    height: 100px;
    overflow:-moz-hidden-unscrollable;
    font-weight: 800;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    background-color: rgba(99, 91, 91, 0.633);
    color: white;
}
a, a:visited, a:hover, a:active {
    color: inherit;
  }